.connect-button {
  padding: 10px 20px;

  border: 2px solid rgb(32, 129, 226);
  border-radius: 10px;

  font-weight: bold;
  text-transform: uppercase;

  color: $white;
  background-color: rgb(32, 129, 226);

  transition: all 0.2s;

  &:hover {
    background-color: rgb(65, 141, 217);
    box-shadow: rgb(4 17 29 / 25%);
  }

  &:focus {
    border-color: rgb(24, 104, 183);
  }

  &:active {
    border-color: rgb(24, 104, 183);
    background-color: rgb(24, 104, 183);
  }
}