.form {
  display: flex;
  flex-direction: column;

  width: min(500px, 90%);

  padding: 20px;

  border: 2px solid $accent;
  border-radius: 10px;

  &__input {
    width: 100%;

    padding: 10px;
    margin: 10px 0 20px;

    border: 2px solid;
    border-radius: 10px;

    &:focus {
      border-color: $accent-d;
    }
  }

  &__button {
    width: 100%;

    text-align: center;
  }
}