#root {
  height: 100%;

  font-family: 'Poppins', sans-serif;
}

.link {
  margin-bottom: 20px;

  font-size: 20px;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}